<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
   
   
    <div class="container">
        {% block content %}
        <div class="row my-2 py-2">
            <div class="col-md-12">
                <a href="/get_data/?push={{True}}" class="btn btn-secondary"> Push to Database </a>
                <a href="/view_data/" class="btn btn-secondary">view data </a>
            </div>
         </div>
        <div class="row my-2">
            <div class="col-md-12">
            
                <a href="{% url 'users_data:get_data' %}" class="btn btn-secondary">Get data </a>
            
            <p>{{data}}</p>
           
            <table class="table table-light">
                
                <thead>
                    <tr>
                        {% for key in data.accounts_data.0.keys%}
                      <th scope="col">{{key}}</th>
                     
                        {% endfor %}
                    </tr>
                  </thead>
                <tbody>
                   
                    <tr>
                        <td></td>
                    </tr>
                  
                </tbody>
            </table>
            <table class="table table-light">
                
                <thead>
                    <tr>
                        {% for key in item.0.keys%}
                      <th scope="col">{{key}}</th>
                     
                        {% endfor %}
                    </tr>
                  </thead>
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-light">
                
                <thead>
                    <tr>
                        {% for key in item.0.keys%}
                      <th scope="col">{{key}}</th>
                     
                        {% endfor %}
                    </tr>
                  </thead>
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
           
            

            </div>
           

            </div>

           
        {% endblock %}
    </div>
</body>
</html>